@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

body {
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  background: #fffc4f;
  color: #293fad;
  margin:0;
  padding:0;
}
cite {
  font-style: normal;
}
.quote {
	margin: 30px;
	text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.line-through {
	display: block;
	position: relative;
	border-bottom: 2px solid blue;
	height: 15px;
}
.line-through span {
	position: absolute;
	display: inline-block;
	background: #fffc4f;
	width: 200px;
	margin-left: -100px;
	line-height: 30px;
}
.stripe-border {
	background: linear-gradient(
		to bottom,
		blue,
		blue 25%,
		#fffc4f 25%,
		#fffc4f
	);
	background-size: 100% 8px;
}
.stripe-border blockquote {
  background: #fffc4f;
	margin: 0 10px;
	padding: 30px;
	font-size: 18px;
  font-size: 24px;
  line-height: 1.5;
}

