button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 17px;
	text-decoration:none;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}
.buttons{
	display:inline-block;
}
body {
    -moz-transform: scale(2.5); /* for Firefox, default 1*/
    zoom:250%; /* For Chrome, IE, default 100%*/
}
h1 {
	height:30px;
}
