h1, h3, form{
	text-align:center;
}

#response{
	width:150px;
	height: 100px;
	border: 2px dotted blue;
}
button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 17px;
	text-decoration:none;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}
.buttons{
	display:inline-block;
}
body {
	background-color:#cc99ff;
}
#guess_list{
	position: fixed;
	left:0px;
	top:0px;
	width: 300px;
	height: 100%;
	background-color: #2491f9;
	overflow:auto;
}
h2 {
	font-family: cursive;
	color: white;
	font-weight: normal;
	font-size:270%;
	text-align:center;
	text-decoration:underline;
}
p {
	font-family:Georgia;
	text-align:center;
	color: red;
	font-size:200%;
}
