h1{
 text-align: center;
}
#card_holder{
 width: 595px;
 margin-left: auto;
 margin-right: auto;
}
.card {
 display: inline-block;
 width: 100px;
 height: 120px;
 border: 2px solid;
 border-radius: 10px;
 border-color: #8C8F8C;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 10px;
}
p {
 text-align: center;
 margin: 0 auto;
 padding-top: 50px;
 opacity: 0;
 width: 80px;
}
#clear {
 opacity: 1;
 width: 120px;
 margin: 0 auto;
 padding-top: 0px;
 border: 1px;
 border-style: dotted;
}
.correct {
 font-weight: bold;
}
