body {
 background-color: white;
}
#emoji {
	display: inline-block;
}
#header {
    text-align:center;
}
#first_section {
	background-color: #0066ff;
}
h1 {
  color:#000066;
  text-align: center;
  border: 2px solid green;
  border-radius: 6px 50px;
  background: #ccff66;
  padding: 20px; 
  font-family: "Comic Sans MS";
  display: inline-block;
  margin:auto;
  line-height:51px;
  vertical-align:middle;
  height:50px;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
#copyright {
	width:100%;
	background-color:#adad85;
	position: absolute;
	bottom: 0;
	height: 50px;
}
h3 {
	color: white;
	text-align:center;
}
#alert {
	display: inline-block;
	text-align: center;
	border: 2px solid yellow;
	width: 400px;
	height: 80px;
	background: grey;
}
}
}
